# vim swp
*.swp

# vscode
.vscode

# others
*.log
*.out
*.o
openairinterface5g/cmake_targets/log/*
openairinterface5g/cmake_targets/ran_build/build/.ninja_deps
openairinterface5g/cmake_targets/ran_build/build/*